.language-switcher {
  list-style-type: none;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-align: right;

  color: #ffffff;
}

.language-switcher:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .language-switcher {
    font-size: 18px;
    line-height: 20px;
  }
}
