.cover__caption {
  max-width: 360px;
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  margin: 32px auto;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover__caption {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__caption {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .cover__caption {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
