.cover__caption {
    position: absolute;
    top:429px;
    left: 412px;

max-width: 360px;
max-height: 66px;
text-align: center;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

margin: 0px auto;

color: #FFFFFF;
}

@media screen and (max-width:1024px) {
    .cover__caption {
        font-size: 18px;
        line-height: 22px;

        top:379px;
        left:332px;
  }
  }
  
  @media screen and (max-width:768px) {
    .cover__caption  {  
        font-size: 18px;
        line-height: 22px;

        top: 299px;
        left: 204px;
        
  }
  }
  
  @media screen and (max-width:320px) {
    .cover__caption  {  
        font-size: 14px;
        line-height: 16px;
        top:119px;
        left: 16px;
  } 
  }