.cover__caption {
    position: absolute;
    top:429px;
    left: 412px;

max-width: 360px;
max-height: 66px;
text-align: center;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

margin: 0px auto;

color: #FFFFFF;
}