.about__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0px auto 0px auto;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .about__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}
