.cover {
  margin: 92px auto 0px auto;

  max-width: 1184px;

  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-width: 100%;
    margin: 0px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-width: 320px;
    margin-top: 66px;
  }
}
