.about {
  position: relative;
  align-items: center;
  margin: 56px auto 0px;

  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .about {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .about {
    max-width: 320px;
    margin-top: 48px;
  }
}
