.about__subtitle {
  max-width: 640px;
  margin: 32px auto 0px auto;

  font-family: "Inter", "Helvetica Neue", Arial,;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
